
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
	height: 100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#f2f2f2;

    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12pt;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;

	background: url('../img/tygr.jpg') no-repeat;
	background-size:cover;
	background-attachment:fixed;
	
	
	
}


.headerBlock {
	display: inline-block;
	padding: 7px 2em 0px 0.5em;
	xmin-height: 3ex;
	min-height: 36px;
	min-width: 3ex;
}

.nav {
	float: right;
	color: #ffffff;
	font-weight: bold;
	xfont-size: 130%;	
}

.xheader {
	background-color: #004167;
	background-image: -webkit-linear-gradient(#004167, #001d3b);
	background-image: -moz-linear-gradient(#004167, #001d3b);
	background-image: -o-linear-gradient(#004167, #001d3b);
	background-image: linear-gradient(#004167, #001d3b);
}

img#preloaderAnimation
{
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: -32px;
	margin-top: -32px;
}

div#preLoaderDiv
{
	position: fixed;
	_position: absolute;
	_top:expression(eval(document.body.scrollTop));
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 1000;
	background-color: black;
	opacity: 0.7;
	filter: alpha(opacity=70);
	xdisplay: none;
}

#vrsek {
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 100;
}

#divActualCategory:after {
	content: "";
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid white;
	position: absolute;
	top: 17px;
	right: 1ex;
}



div.rubriky {
	background: #001d3b;
	position: absolute;
	width: 8em;
	right: 0px;
	display: none;
	xfont-size: 130%;
	font-weight: bold;
	z-index: 100;
}

.rubriky a {
	border-bottom: solid 1px black;
	display: inline-block;
	min-height: 3ex;
	color: white;
	text-decoration: none;
	text-align: right;
	padding-top: 5px;
	
	width: 100%;
	background-color: #004167;
	background-image: -webkit-linear-gradient(#004167, #001d3b);	
	
	padding-top:1ex;
	padding-bottom:0.5ex;
}



.rubriky a span {
	margin-right: 1ex;
}

div.clanek {
	clear: both;
	xmargin-top: 0.5ex;
	xmargin-left: 0.5ex;
	border-bottom: solid 1px #c0c0c0;
	min-height: 40px;
	
}

.xclanek img {
	width: 32px;
	float: left;
	vertical-align: top;
	margin-right: 0.5ex;
}

p.pDatum {
	margin: 0px 0px 0px 0px;
}

div.category {
	margin-top: 0.5em;
	margin-left: 0px;
	margin-right: 0px;
	xfont-size: 150%;
}

div.category img {
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}


div.articleItem {
	padding: 10px 10px 10px 10px;
}

.articleItem a {
	display: block;
	border: solid 1px black;
	height: 48dp;
	margin-top: 8px;
	background: rgba(128,128,128,0.5);
	color: #ffff99;
	font-weight: bold;
	font-family: Trade Winds;
	font-size: 24pt;
	padding-left: 3ex;
}

div.copyright {
	width: 100%;
	text-align: center;
	color: #004167;
}


.divArticle {
	margin: 0.5em 0.5em 0.5em 0.5em;
}


div.divArticle {
	margin: 0.5em 0.5em 0.5em 0.5em;
	background-color: rgba(252,252,252,0.5);
	padding: 1ex 1ex 1ex 1ex;
}


div.cl {
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
}

div.category {
    xpadding-top: 42px;
	xheight: 100%;
}

div.ca {
	overflow-y:scroll;
	height: 100%;
	-webkit-overflow-scrolling: touch;
	margin-bottom: 400px;
}

div.clanek {
    padding-top: 42px;	
}

img.artImg {
	xdisplay: none;
}



.selArticle {
	background-color: #c0c0c0;
}


div.contentContainer {
	height: 100%;
	padding-top: 42px;
}

div.mainMenu {
	height: 100%;
	padding: 10px 10px 10px 10px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;	
}


.mainMenu a {
	display: block;
	border: solid 1px black;
	height: 48dp;
	margin-top: 8px;
	background: rgba(128,128,128,0.5);
	color: #ffff99;
	font-weight: bold;
	font-family: Trade Winds;
	font-size: 32pt;
	padding-left: 3ex;
}



div#preLoaderDiv
{
	display: none;
}

div.main {
	height: 100%;
}

div.contentContainer > div.ng-scope {
	height: 100%;
}

